.bi {
vertical-align: -.125em;
fill: currentColor;
}

#DashPage, #StylePage, #SettingPage, #UserPage {
	display: none;
}

/* nav 영역 css */
#navbarContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.1s;
}

.jb-wrap {
	width: 200px;
	height: 200px;
	border-radius: 20%;
}
.jb-wrap img {
	width: 100%;
	vertical-align: middle;
}
.jb-text {
	padding: 1px 10px;
	/* background-color: yellow; */
	text-align: center;
}